.all{
    background-color: #ECF0F3;
    margin: 0;
    padding-bottom: 20px;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 130px;
    background-color: #ECF0F3;
}
.project{
    padding: 10px;
    /* border: 1px solid rgba(206, 203, 203, 0.329); */
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(167, 149, 159, 0.781);
}
.project:hover{
background-color: rgb(216, 213, 213);
box-shadow: 1px 1px 10px rgba(241, 236, 239, 0.781);
}

.project-img{
    width: 330px;
    height: 170px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 15px 2px;
    
}

.details-btn{
    padding: 3px 20px;
    background-color: #fa1a5d;
    color: white;
    border: none;
    font-weight: 500;
    border: 1px solid #FF014F;
}

.details-btn:hover{
    padding: 2px 20px;
    background-color:#ECF0F3;
    color: #FF014F;
    border: 2px solid #FF014F;

}

.top-project-btn{
    padding: 2px 20px;
    background-color:#ECF0F3;
    color: #FF014F;
    font-weight: 500;
    border: 2px solid #FF014F;
}

.top-project-btn:hover{
    padding: 2px 20px;
    background-color:#FF014F;
    color: #ffffff;
    /* font-weight: 500; */
    /* border: 2px solid #FF014F; */
}

@media only screen and (max-width:688px){

    .project-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 30px 70px;
        background-color: #ECF0F3;
    }

    .project-img{
        width: 230px;
        height: 120px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 15px 2px;
        
    }

    .details-btn{
        margin: 10px 0;
    }
    
}