
.contact-me-title{
    padding: 20px 0px;
    margin: 0;
    background-color: #ECF0F3;
    text-align: center;
    
}
.contact-me-container{
    background-color: #ECF0F3;
    padding: 50px 210px;
    
}
.send-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}