.project-title{
    background-color: #ECF0F3;
    margin: 0;
    padding: 10px 0;
}
.oculus-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: #ECF0F3;
    
}
.project-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
   
}
.project-images img{
    width: 300px;
    max-height: 150px;
    border: 2px solid rgb(143, 139, 139);

}
.project-description{
    text-align: justify;
}

.project-details-buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 70px;
    padding-left: 300px;
    padding-right: 300px;
    /* margin: 0px 500px; */
    background-color: #ECF0F3;
    
}